body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f8f9fa;
}

.dashboard-card {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  .dashboard-card h3 {
    font-size: 24px;
    margin: 10px 0;
  }
  .dashboard-card p {
    font-size: 20px;
    color: #333;
  }

